<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						   http://www.springframework.org/schema/context http://www.springframework.org/schema/task/spring-context.xsd
						   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


    <context:component-scan base-package="sr.api" />

    <context:property-placeholder location="classpath:app.properties"/>

    <util:properties id="appConfig" location="classpath:app.properties"/>


    <!-- Spring MVC -->
    <import resource="spring-mvc.xml" />

    <!-- Spring DATA -->
    <import resource="mysqlContext.xml" />

    <!-- Spring Security -->
    <import resource="spring-security.xml" />

</beans>