<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven />
    <mvc:default-servlet-handler />

    <!-- Protected alanlar icin yetki kontrolu -->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**" />-->
            <!--<bean class="sr.api.web.interceptor.LoginPage" />-->
        <!--</mvc:interceptor>-->
        <!--&lt;!&ndash; IE8 icin &ndash;&gt;-->
        <!--<bean id="webContentInterceptor"-->
              <!--class="org.springframework.web.servlet.mvc.WebContentInterceptor">-->
            <!--<property name="cacheSeconds" value="0" />-->
            <!--<property name="useExpiresHeader" value="true" />-->
            <!--<property name="useCacheControlHeader" value="true" />-->
            <!--<property name="useCacheControlNoStore" value="true" />-->
        <!--</bean>-->
    <!--</mvc:interceptors>-->


    <bean
            class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean
                        class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
                <bean
                        class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter" />
            </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="session">
                    <bean class="org.springframework.context.support.SimpleThreadScope"/>
                </entry>
            </map>
        </property>
    </bean>




</beans>